* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Calligraphy', cursive;
}

/* Style du corps de la page */
body {
    font-family: 'Snell Roundhand', cursive;
    background: url('../assets/photos/photo4.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    color: white;
    min-height: 100vh;
    background-color: #c8d3c7;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(151, 67, 18, 0.6);
    border-radius: 10px;
}

/* Titre principal */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(31, 32, 29, 0.7);
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Champ de texte */
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f1dddd;
    width: 80%;
    height: 100px;
    font-size: 1rem;
    resize: none;
}

/* Bouton de soumission */
button {
    background-color: #101005;
    color: rgb(231, 231, 224);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:rgb(252, 202, 202);
}

/* Message d'erreur */
.error {
    color: #ff4d4d;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2.5rem;
    }

    textarea {
        width: 90%;
        height: 80px;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    textarea {
        width: 100%;
        height: 60px;
    }

    button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}