* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: Arial, sans-serif; */
   font-family: 'Lucida calligraphy', cursive;
}

/* Style du header */
.title {
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   text-shadow: 2px 2px 5px rgba(31, 32, 29, 0.7);
}

/* Titre principal */
.title h1 {
   font-size: 2 rem;
   background: rgba(210, 130, 9, 0.2);
   padding: 15px 25px;
   border-radius: 20px;
}

/* Liens de navigation */
nav {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 30px;
}

a {
   text-decoration: none;
   font-size: 1.5rem;
   color: #d1d171;
   background: #a39449;
   padding: 30px 50px;
   border-radius: 4px;
   transition: background 0.3s ease;
}

a:hover {
   background: #f0eceb;
}

/* Mise en page globale */
body {
   background: url('../assets/photos/simple wedding PC background.png'); 
   background-size: cover;
   text-align: center;
   padding-top: 20px;
   color: white;
   min-height: 100vh; 
   background-color: #c8d3c7; 
}

.colonne{
   display: flex;
   justify-content: center;

   a{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px;
      height: 50px;
      width: 280px;
      

   }
}

.form-section {
   background: rgba(0, 0, 0, 0.6);
   padding: 30px;
   margin: 20px 0;
   border-radius: 10px;
}

h2 {
   font-size: 2rem;
   margin-bottom: 20px;
}

form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
}

input, textarea {
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #f1dddd;
   width: 300px;
   font-size: 1rem;
}

button {
   background-color: #101005;
   color: rgb(231, 231, 224);
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
}

button:hover {
   background-color: #5a33cc;
}

textarea {
   width: 80%;
   height: 100px;
   resize: none;
}
@media (max-width: 768px) {
   .title h1 {
       font-size: 24px;
   }

   .colonne a {
       display: block;
       margin: 10px 0;
   }
}

@media (max-width: 480px) {
   .title h1 {
       font-size: 20px;
   }

   .colonne a {
       font-size: 14px;
   }
}